# Project settings
project_name=ai-divination

# Google API settings (Gemini)
api_key=AIzaSy...
api_base=https://generativelanguage.googleapis.com
model=gemini-2.0-flash

# GitHub OAuth settings (Optional)
github_client_id=
github_client_secret=
jwt_secret=secret

# Admin settings
admin_password=1234567890
